<style>
    .button_to{
        display: contents !important;
    }
</style>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3" style="float: right">
                <%= link_to 'Create New Category', new_category_path, class: 'btn btn-success' %>
            </div>
        </div>
        <hr>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2> Blogger Listing </h2>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Category Name</th>
                                <th>Total Articles</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @categories.each do |category| %>
                                <tr>
                                    <td>
                                        <%= category.name %>
                                    </td>
                                    <td>
                                        <%= category.articles.count %>
                                    </td>
                                    <td>
                                        <%= link_to 'Show', category_path(category), class: "btn btn-success" %>
                                        <% if logged_in? %>
                                            <%= link_to 'Edit', edit_category_path(category), class: "btn btn-warning" %>
                                        <% end %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="flickr_pagination mt-2">
        <%= will_paginate @categories, :container => false %>
    </div>
</div>